@model List<UserViewModel>

@{
    Layout = null;
}


<h1 id="BlockUserTitleId" class="text-uppercase text-center text-danger">Block User</h1>
@if (Model.Count == 0)
{
    <p class="text-warning text-uppercase text-center fs-5 fw-bold">No users to block!</p>
}
else
{
    <table class="table">
        <thead>
            <tr class="text-center text-uppercase">
                <th scope="col">Email</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            @{
                if (Model != null)
                {
                    foreach (var user in Model)
                    {
                        <tr class="text-center text-uppercase">
                            <td>@user.Email</td>
                            <td><a class="btn-sm btn btn-danger" asp-action="BlockUsers" asp-controller="Admin" asp-route-id="@user.Id">Block</a></td>
                        </tr>
                    }
                }
            }
        </tbody>
    </table>
}



